{% extends 'base.html' %}

{% block content %}
<h1>Josh Barker</h1>
<img src="{{ url_for('static', filename='josh.jpeg') }}" height = "300" width = "200">

<p>Josh Barker is a data analyst for the Statistics business line of the Federal Reserve System. He has previously worked in Government Relations and Data Services at the Federal Reserve Bank of Philadelphia, and his internship experience includes the U.S. Senate Commerce Committee and the American Enterprise Institute.
</p>

<p>
    <b>M.S. in Data Science,</b> Eastern University, 2025</br>
    <b>B.A. in Politics and Economics,</b> <i>summa cum laude,</i> Hillsdale College, 2023</br>
</p>

<p>
    <a href = "https://www.linkedin.com/in/joshevanbarker/">LinkedIn</a>&nbsp; &nbsp;
    <a href = "https://x.com/JoshEvanBarker">X</a>
</p>

{% endblock %}