<!doctype html>
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<title>{% block title %}Base File{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
header {
  background-color: black;
}
sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: green;
  overflow-x: hidden;
  padding-top: 20px;
}
    body{
        background-color: WhiteSmoke;
    }
</style>

<section>
  <header>
    <h1 style="text-align: center; color: white;">Machine Learning Models for Metro Area Export Prediction</h1>
      <h2 style="text-align: center; color: white;">Josh Barker - DTSC 691 Project</h2> <br/>
    <div class="topnav">
        <a style = "color: white" class="active" href="{{ url_for('home') }}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a style = "color: white" class="active" href="{{ url_for('about') }}">About Josh</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a style = "color: white" href="{{ url_for('changed_conditions_predictor') }}">Changed Conditions Predictor</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style = "color: white" href="{{ url_for('forecast_predictor') }}">Forecast Predictor</a> <br/>
    </div>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>

    <div id="sidenav" class="sidenav" style = "color: green">
    </div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

